.headerInfo {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-align: center;
  h1 {
    margin: 0;
    font-size: 64px;
  }

  p {
    font-size: 22px;
    color: #0c0d0f;
    font-weight: 200;
  }
}

@media screen and (max-width: 375px) {
  .headerInfo {
    h1 {
      font-size: 36px;
    }

    p {
      padding-inline: 20px;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
