.subscribe {
  display: flex;
  position: relative;
  width: 100%;
  height: 550px;

  background: linear-gradient(
    113.46deg,
    #d8e9f5 21.79%,
    #f4efd1 54.02%,
    #fad3d0 87.31%
  );

  &__transition {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      178.99deg,
      #ffffff 14.45%,
      rgba(255, 255, 255, 0.06) 77.5%
    );

    &__container {
      width: 1390px;

      &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__items {
          display: flex;
          width: 100%;
          display: flex;
          justify-content: space-around;

          ul {
            max-width: 300px;
            height: 168px;

            padding: 0;
            list-style: none;

            &:last-of-type {
              margin-right: 0;
            }

            li {
              display: flex;
              align-items: center;
              font-size: 21px;
              min-height: 30px;
              background: url("../../public/images/ListIcon.svg") no-repeat 0 0;
              padding-left: 50px;

              svg {
                margin: 0;
                padding: 0;
              }
            }

            p {
              max-width: 260px;
              font-size: 12px;
              line-height: 22px;
              color: #0c0d0f;
              padding-left: 50px;
            }
          }
        }

        &__subscription {
          width: 100%;
          display: flex;
          padding-top: 30px;

          &__message {
            flex: 1;
            padding-left: 50px;
            p {
              width: 368px;
              font-size: 34px;
              line-height: 150%;
            }
          }

          &__input {
            display: flex;
            flex-direction: column;
            flex: 1;

            input[type="email"] {
              max-width: 560px;
              height: 60px;
              border-radius: 15px;
              border: none;
              padding-left: 29px;
              font-size: 18px;
            }

            span {
              font-size: 14px;
              margin-top: 20px;
            }

            &__check {
              margin-top: 30px;
              display: flex;

              span {
                font-size: 16px;
                margin: auto 0 auto 10px;
              }

              input[type="checkbox"] {
                width: 20px;
                height: 20px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: white;
                border-radius: 5px;

                transition: all 0.3s ease-in-out;
              }

              input[type="checkbox"]:checked {
                background: #0c0d0f;
                border: 1px solid rgb(92, 92, 92);
              }
            }
            button {
              margin-top: 40px;
              max-width: 261px;
              height: 60px;
              border-radius: 30px;
              border: none;
              background: #0c0d0f;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:375px) {
  .subscribe {
    min-height: 1000px;
    &__transition {
      &__container {
        &__wrapper {
          &__items {
            flex-direction: column;

            ul {
              margin-left: 20px;
              height: auto;

              li {
                width: 80%;
              }

              p {
                max-width: 250px;
                line-height: 150%;
              }
            }
          }

          &__subscription {
            flex-direction: column;
            padding-left: 20px;

            &__message {
              width: 100%;
              padding: 0;

              p {
                font-size: 22px;
                margin-top: 0;
                max-width: 250px;
              }
            }

            &__input {
              flex: 0;

              &__check {
                margin-top: 13px;
                span {
                  font-size: 12px;
                  margin-left: 5px;
                }
              }

              span {
                order: 1;
                font-size: 12px;
              }

              input[type="email"] {
                width: 335px;
                height: 50px;
              }

              button {
                margin-top: 37px;
                width: 200px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
