.navbar {
  width: 90%;
  max-width: 1400px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 30px;
      font-size: 18px;
      cursor: pointer;

      &:nth-child(3) {
        border-bottom: 1px solid #000000;
      }

      &:last-of-type {
        padding: 15px 50px 15px;
        margin-right: 0;
        color: white;
        background: #0c0d0f;
        border-radius: 70px;

        text-align: center;
      }
    }
  }
}
