.footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  &__top {
    padding: 99px 0 137px 0;
    width: 1300px;
    display: flex;
    align-items: flex-end;
    color: white;

    &__text {
      flex: 2;

      h4 {
        font-size: 68px;
        margin: 0;
        line-height: 150%;
      }

      p {
        margin: 5px 0 0 0;
        max-width: 600px;
        font-size: 18px;
        line-height: 150%;
        opacity: 0.8;
      }
    }

    &__button__container {
      flex: 1;
      padding-right: 50px;

      button {
        float: right;
        width: 200px;
        height: 54px;
        border-radius: 70px;
        border: 1px solid #fff;
        background: #0c0d0f;
        color: #fff;
        cursor: pointer;

        transition: all 0.1s ease-in;
        &:hover {
          color: #0c0d0f;
          background: #fff;
        }
      }
    }
  }

  &__mid {
    display: flex;
    color: white;
    width: 1300px;

    &__addresses {
      &__wrapper {
        max-height: 236px;
        max-width: 180px;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 150%;
        cursor: default;

        p {
          font-size: 14px;
          opacity: 0.8;
          height: 82px;
        }
      }

      &__policies {
        display: none;
      }
    }

    &__links {
      max-height: 236px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;

      ul {
        text-align: left;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-right: 50px;
        line-height: 220%;
        list-style: none;
        color: white;

        h5 {
          font-size: 18px;
          margin: 0 0 20px 0;
          cursor: default;
        }

        &:first-of-type {
          flex: 1;
          padding-left: 120px;
        }

        li {
          font-size: 14px;
          line-height: 300%;
          opacity: 0.8;

          a {
            &:hover {
              border-bottom: 1px solid white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__bottom {
    width: 1400px;
    padding: 143px 0 32px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 14px;
    cursor: default;

    span {
      padding-left: 50px;
    }

    &__policies {
      a {
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid white;
        }
        &:first-of-type {
          margin-right: 32px;
        }
      }
    }
  }
}

@media screen and(max-width: 720px) {
  .footer {
    &__top {
      width: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px 0 50px 15px;

      &__text {
        max-width: 351px;
        h4 {
          font-size: 32px;
        }
        p {
          margin-top: 20px;
          font-size: 16px;
        }
      }

      button {
        margin-top: 50px;
        height: 50px;
      }
    }

    &__mid {
      width: 100%;
      flex-direction: column;
      height: auto;
      padding-left: 15px;

      &__addresses {
        display: flex;
        order: 1;
        &__wrapper {
          margin-top: 46px;
          max-height: 550px;

          flex-wrap: nowrap;

          p {
            height: auto;
            margin: 0 0 20px 0;
          }
        }

        &__policies {
          display: flex;
          flex-direction: column;
          margin-top: 50px;
          font-size: 14px;
          opacity: 0.8;
          line-height: 150%;
        }
      }

      &__links {
        ul {
          padding: 0;
          line-height: 150%;

          &:first-of-type {
            padding: 0;
            max-width: 180px;
          }

          &:last-of-type {
            flex: 1;
          }

          h5 {
            font-size: 16px;
            margin: 0 0 15px 0;
          }

          li {
            line-height: 220%;
          }
        }
      }
    }

    &__bottom {
      width: 100%;
      height: 40px;
      padding: 0 0 0 15px;
      span {
        padding-left: 0;
      }
      a {
        display: none;
      }
    }
  }
}
