.service {
  position: relative;
  margin: 25px 15px;
  width: 190px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;

  -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.05);

  cursor: default;
  &__icon {
    position: absolute;
    left: -20px;
    top: -20px;
  }

  &__category {
    margin-top: 40px;
    height: 40px;
    width: 127px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 20px;
    color: #1e474f;
  }

  &__experts {
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    &__title {
      font-size: 14px;
      line-height: 150%;
      color: #438ba3;
    }

    &__images {
      position: relative;
      width: 68px;
      height: 42px;
      margin: auto;

      img {
        width: 40px;
        height: 42px;

        &:first-of-type,
        &:last-of-type {
          position: absolute;
        }

        &:first-of-type {
          z-index: 2;
          left: 0;

          border-radius: 50%;
        }

        &:last-of-type {
          z-index: 1;
          right: 0;
        }
      }
    }

    &__names {
      font-size: 14px;
      color: #838d91;
    }
  }
}

@media screen and (max-width: 768px) {
  .service {
    width: 157.5px;
    height: 188px;
    margin-top: 20px;
    margin-inline: 10px;

    &__icon {
      position: relative;
      left: 0;
      top: 20px;
      width: 40px;
    }

    &__category {
      margin-top: 30px;
    }

    &__experts {
      &__title {
        display: none;
      }

      &__images {
        margin: 0 auto 0 auto;
      }

      &__names {
        padding-bottom: 5px;
      }
    }
  }
}
