@font-face {
  font-family: "circularStd";
  src: url("../public/fonts/CircularStd/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "circularStd";
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
}

.services-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    height: 350px;
    width: 100%;
    display: flex;
    padding: 26px 0 54px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background: linear-gradient(
      113.46deg,
      #d8e9f5 21.79%,
      #f4efd1 54.02%,
      #fad3d0 87.31%
    );
  }

  main {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 75px;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    background: black;
    width: 100%;
  }

  @media screen and(max-width: 720px) {
    header {
      height: 300px;
      padding: 28px 0 26px 0;
    }
  }

  main {
    padding-block: 10px;
  }
}
